p{font-family:Arial;font-size:9pt;color:;line-height:1.8;font-Weight:normal;font-Style:normal;text-Decoration:none;margin:0px;}
p:hover{color:;font-Weight:normal;font-Style:normal;text-Decoration:none;}
.normaltext{font-family:Arial;font-size:9pt;color:;line-height:1.8;font-Weight:normal;font-Style:normal;text-Decoration:none;margin:0px;}
.normaltext:hover{color:;font-Weight:normal;font-Style:normal;text-Decoration:none;}
.jstree-clicked{color:#333333 !important;background: #AAA !important;border: 1px solid #777 !important;}
.jstree a{font-family:Arial !important;font-size:9pt !important;color: !important;line-height:1.8;font-Weight:normal;font-Style:normal;text-Decoration:none;margin:0px;}
.jstree a:hover{color:black !important;font-Weight:normal !important;font-Style:normal !important;text-Decoration:none !important;}


.DisabledObject
{
border: none;box-shadow: none;webkit-appearance: none;-moz-appearance: none;background: transparent;-webkit-appearance: none;-moz-appearance: none;appearance: none;
}



.GeneratedResponsiveMainMenu ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
     position: absolute; 
    z-index: 5000;
    box-sizing: border-box;
width:initial;
}


    .GeneratedResponsiveMainMenu li:hover ul li:hover ul {
        /*margin-right:170px;*/
        margin-top:-40px;
    }
/*Style for dropdown links*/
.GeneratedResponsiveMainMenu li:hover ul li:hover ul a {
	/*background: #f3f3f3;
	color:#000;
	height: 40px;
	line-height: 40px;
    white-space: nowrap;
    text-align:right;
    border-color: #f3f3f3;*/
   
}

/*Hover state for dropdown links*/
.GeneratedResponsiveMainMenu li:hover ul li:hover ul  a:hover {
/*	background:#08142f ;
	color: #fff;*/

}

.GeneratedResponsiveMainMenu li:hover  ul li:hover  a {
}


/*create a horizontal list with spacing*/
.GeneratedResponsiveMainMenu li {
	display:inline-block;
	/*float: left;*/
}

/*Style for menu links*/
.GeneratedResponsiveMainMenu li a {
	display:block;
	    padding-left: 15px;
    padding-right: 15px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-family: IRANSans;
        font-size: 0.8em;
            font-weight: normal;

	color: #fff;
	
	text-decoration: none;
}

/*Hover state for top level links*/
.GeneratedResponsiveMainMenu li:hover a {

}

/*Style for dropdown links*/
.GeneratedResponsiveMainMenu li:hover ul a {
	 
}

/*Hover state for dropdown links*/
.GeneratedResponsiveMainMenu li:hover ul a:hover {
}

/*Hide dropdown links until they are needed*/
.GeneratedResponsiveMainMenu li ul {
	display: none;
}

/*Make dropdown links vertical*/
.GeneratedResponsiveMainMenu li ul li {
	display: block;
	float: none;
   
}

/*Prevent text wrapping*/
.GeneratedResponsiveMainMenu li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
.GeneratedResponsiveMainMenu ul li a:hover + .hiddenMenu,.GeneratedResponsiveMainMenu  .hiddenMenu:hover {
	display: block;
        
}

/*Style 'show menu' label button and hide it by default*/
.GeneratedResponsiveMainMenu .show-menu {
	height:36px;
	display: none;
}

/*Hide checkbox*/
.GeneratedResponsiveMainMenu input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
.GeneratedResponsiveMainMenu input[type=checkbox]:checked create  #MobikeMainMenu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 955px){
    .GeneratedResponsiveMainMenu li:hover ul li:hover ul
{
        margin-right: 0px !important;
}

	.GeneratedResponsiveMainMenu ul {
		display:none;
	}
	.GeneratedResponsiveMainMenu li {
		border-bottom:1px solid gray;
        }
	/*Make all menu links full width*/
	.GeneratedResponsiveMainMenu ul li,.GeneratedResponsiveMainMenu  li a {
		width: 100% !important;
            box-sizing: border-box;

         text-align: right;
	}
	/*Display 'show menu' link*/
	.GeneratedResponsiveMainMenu .show-menu {
		display:block;
	}
}
 

/****** Headers ************/
.SBHeaderPanels h4
{
  padding:5px;
}

a
{
    color: #104d8d;
}
#OuterInlineContentsControl .SBHeaderPanels{
    border-bottom: 3px solid #000;
    box-shadow: -8px 3px 22px silver;
    /* background: #1470af !important; */
    background: #fc7000 !important;
    border-radius: 63px 32px 54px 5px;
    background-image: url(/files/ivoia-com//Images/TemplateImages/footerBg.png) !important;
  color:#000;
      padding-right: 12px !important;

}
#OuterInlineContentsControl .SBContainerPanels
{
  
    border-radius: 63px 32px 54px 5px !important; 
  text-align:justify;
}
/******End of Headers ************/

/******** MENU *********/
#HeaderContainer {
  
   /* margin-top: 124px;*/
}
#HeadThin, #menush {
   
  z-index:20000;
}
 #menush{
    box-shadow: rgb(47, 47, 47) 0px 14px 20px 0px !important;
}
.GeneratedResponsiveMainMenu li ul
{
  border-radius:10px 0 0 0 !important;
  
}

.GeneratedResponsiveMainMenu li ul li
{
  border-radius:10px 0 0 0 !important;
}

.GeneratedResponsiveMainMenu li:hover ul li:hover a
{
      background-color: #124a8c !important;
color:#fff !important;
}
/********END OF MENU *********/
.currencyExchangeUP {
    background-image: url(/images/arrows/up.png) !important;
}

.currencyExchangeDown {
    background-image: url(/images/arrows/down.png) !important;
}

.ExchangeHeader , .MoneyExchangeUnitLiteral ,.flags , .MonetaryBuy
{
  display:none;
  
}
.Layout12NewsLink
{
  float:right;
}
.NewsSystemPager {    width: 100%;}
.NewsSystemPagerItem:hover {border-bottom: 2px solid #646464 !important;
    background: #b5b5b5 !important;
    transition: all .2s ease-in-out; }

.NewsSystemPagerItem { cursor: pointer;
    width: 25px;
    height: 25px;
    border: 1px solid #9f9f9f;
    display: inline-block;
    color: white;
    background: #d4d4d4;  text-align: center;    border-bottom: 2px solid #b2b2b2;}
 .SelectedNewsPagerItem { background: #0483a2 !important;
    text-align: center;    border-bottom: 2px solid #fbaa38;}
  .NewsSystemPagerItem a{   color: #929292 ; }

.NewsArchiveLink {float: left;
    padding-left: 4px;
    padding-bottom: 4px;
    font-size: 9pt;
    position: relative;
    clear: both;
}
.NewsLayout12Row {    overflow: hidden;
    margin-bottom: 10px;
    height: 121px;
    padding: 5px;
    width: 99% !important;}

.ui-state-active h6,
  .ui-state-active
  {
    color:#fff !important;
    background-image:url(  /files/ivoia-com//Images/TemplateImages/footerBg.png);
    background-color:#1470af !important;
    
  }
  #footerInnerDiv
  {
        background-repeat: no-repeat;
    background-position: center center;
    background-image:url(  /files/ivoia-com//Images/TemplateImages/footerBg.png);
  }
#footerDiv 
  {    
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#003c84), to(#6b9ace));
    background: -webkit-radial-gradient(circle, #003c84, #6b9ace);
    background: -moz-radial-gradient(circle, #003c84, #6b9ace);
    background: -ms-radial-gradient(circle, #003c84, #6b9ace);
  }
 
  #footerDivBackup 
  {
    
        
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#00537e), to(#0698b1));
    background: -webkit-radial-gradient(circle, #00537e, #0698b1);
    background: -moz-radial-gradient(circle, #00537e, #0698b1);
    background: -ms-radial-gradient(circle, #00537e, #0698b1);
  }
 
  .GeneratedResponsiveMainMenu li:hover ul li a
  {
    border-radius:10px 0 0 0!important;
    
  }
  .hiddenMenu
  {
    background: #fff !important;
    border: 2px solid #074187;
    
  }
  .GeneratedResponsiveMainMenu li:hover  ul li   a:forst
  {
  
    border-radius: 20px 0px 0px 0px;
}

  #menush
  {
    background-color:#fff !important;
  }
  
  #RootMenu a
  {
    color:#000 !important;
        border-radius: 26px 0px 0px 0px;

    text-align: right !important;
  }


  #HeadThin
{
  border-bottom: 3px solid #fba52c !important;
  
  background: rgba(23,91,154,1);
background: -moz-linear-gradient(left, #003c84, #6b9ace,#003c84);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23,91,154,1)), color-stop(51%, rgba(15,156,221,1)), color-stop(100%, rgba(23,91,154,1)));
background: -webkit-linear-gradient(left, #003c84, #6b9ace,#003c84);
background: -o-linear-gradient(left, #003c84, #6b9ace,#003c84);
background: -ms-linear-gradient(left, #003c84, #6b9ace,#003c84);
background: linear-gradient(to right, #000, #fc7000,#000);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#175b9a', endColorstr='#175b9a', GradientType=1 );     
}
  #HeadThinBackup
{
  border-bottom: 3px solid #fba52c !important; 
  background: rgba(23,91,154,1);
background: -moz-linear-gradient(left, rgba(23,91,154,1) 0%, rgba(15,156,221,1) 51%, rgba(23,91,154,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23,91,154,1)), color-stop(51%, rgba(15,156,221,1)), color-stop(100%, rgba(23,91,154,1)));
background: -webkit-linear-gradient(left, rgba(23,91,154,1) 0%, rgba(15,156,221,1) 51%, rgba(23,91,154,1) 100%);
background: -o-linear-gradient(left, rgba(23,91,154,1) 0%, rgba(15,156,221,1) 51%, rgba(23,91,154,1) 100%);
background: -ms-linear-gradient(left, rgba(23,91,154,1) 0%, rgba(15,156,221,1) 51%, rgba(23,91,154,1) 100%);
background: linear-gradient(to right, rgba(23,91,154,1) 0%, rgba(15,156,221,1) 51%, rgba(23,91,154,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#175b9a', endColorstr='#175b9a', GradientType=1 );
      

}

.jssorb05
{
  zoom:0.7;
}
.GeneratedResponsiveMainMenu li:hover ul li:hover a {
    background-color: #fff !important;
   
}


.GeneratedResponsiveMainMenu li:hover a
{
  /*background-color:#fba52c;*/
  cursor:pointer;
}

.GeneratedResponsiveMainMenu li:hover a:first
{
  background-color:none !important;
}
#menush .GeneratedResponsiveMainMenu
{
  max-width:1100px;
  margin:0 auto;
        border-right: none;
}
#RootMenu
{
  border-right: none;
}


#PageControl , #InlineContentsControl , #MenuContainer , #TemplateHeader2ItemParent , #IMWC2C1 {width:100%;}
@font-face {
    font-family: 'IRANSans';
    src: url('/files/ivoia-com//fonts/IRAN%20Sans.woff') format('woff');
    

}
*{
font-family:'IRANSans' !important;
}

 .NewssystemInfo {   text-align: right;
    margin-top: 15px; }

.WebpartBackgroundTD {text-align: center;    background-attachment: fixed;}

.NewsAttachmentsText {display:none;
}
#menubox {    overflow-y: auto;}

.mybtn {background: #ff8a00;
    padding: 8px;
    border-radius: 5px;cursor:pointer;}

.mtbtnd {color: #ffffff;
    border: 2px solid #484646;
    padding: 5px;
    border-radius: 4px;}

a {text-decoration:none;}



@media (max-width:700px){
  #RootMenu {    width: 100% !important;}
#RootMenu li {
     display: block;
    visibility: visible;
  animation: fade 0.8s;
}
.show-menu:active +  #RootMenu  {
       display: block;
    visibility: visible;
    opacity: 1;
    animation: fadee 0.8s;
}
}
.GeneratedResponsiveMainMenu ul li a:hover + .hiddenMenu {
     display: block;
    visibility: visible;
  
    animation: fade 0.8s;
}
.GeneratedResponsiveMainMenu ul li a:hover + .hiddenMenu li {
     display: block;
    visibility: visible;
    opacity: 1;
    animation: fadee 0.5s;
}

@keyframes fade {
    0% {
      
         max-height: 0px;
    }

    100% {
        max-height: 500px;;
    }
}

@keyframes fadee {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

input {box-shadow:none !important;height:18px;}

.GeneratedResponsiveMainMenu li:hover  ul li   a{
    margin: 0 auto; }

  @media (max-width:710px) {
    #menush
    {
      height:40px !important;
    }
#RootMenu { background-color: #ffffff !important;
    box-shadow: inset 0px 0px 0px 2px #074188;
    border-radius: 10px 0 0 0; }

.GeneratedResponsiveMainMenu li:hover  ul li   a {
    width: 100% !important;
    display: -webkit-box !important; }
.hiddenMenu {width:100% !important;margin-right:0px !important;}
 }

#NewsListStyle {  text-align: right !important;}
  /*#IMMC1 {width: 100%;}*/
  .newsImgsTD {width:85px;height:85px;}
  #NewsListStyle  h2 {font-size: 10pt;color:  #104d8d !important}
  .NewsImgs {    margin-left: 5px !important;    vertical-align: top !important;}
  #NewsListStyle  .SBHeaderPanels {color:#242424 !important;}
.Layout12NewsImgs {    float: right;
    margin-left: 10px;    max-width: 200px;}

#HeaderContainer {    text-align: center;}
#NewsListStyle  .SBHeaderPanels   {padding-bottom: 6px;
    background: #222;
    margin: 7px;}
#NewsListStyle .SBHeaderPanels h2 {color:#fff !important;}




@media (min-width:700px){
  .NewsLayout12RowContents {    margin-bottom: 20px;}}

  .NewsDetailImage {border: 10px solid #eee; max-width: 250px !important;}

  @media (min-width:710px)
{ 
 .NewsDetailImage {  
 margin-left: 18px !important;  margin-top: 3px; 
   }
}


.NewsAttachments {clear: both;    margin: 0 auto;
    width: 90%;}


@media (max-width:710px) {
.NewsAttachments {
clear: both;
    max-width: 250px;
    max-height: 90%;
    overflow: scroll;
    margin: 0 auto;}
}
.GeneratedResponsiveMainMenu li:first-child:hover a {background:none !important;}
.Layout12NewsImgs {    border-radius: 3px;}

@media (max-width:700px){
  #IMHC4 {width: 100% !important;}
.NewsLayout12Row{    height: inherit;}

.Layout12NewsImgs
{ max-width: 100px !important;}

}

.lastDots {margin-left: 5px;
    margin-right: 5px;
    color: gray; }


#tiptip_holder{display:none;position:absolute;top:0;left:0;z-index:99999;font-family:tahoma!important;}#tiptip_holder.tip_top{padding-bottom:5px}#tiptip_holder.tip_bottom{padding-top:5px}#tiptip_holder.tip_right{padding-left:5px}#tiptip_holder.tip_left{padding-right:5px}#tiptip_content{font-size:11px;color:#fff;text-shadow:0 0 2px #000;padding:4px 8px;border:1px solid rgba(255,255,255,.25);background-color:#191919;background-color:rgba(25,25,25,.92);background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),to(#2770c2));border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;box-shadow:0 0 3px #555;-webkit-box-shadow:0 0 3px #555;-moz-box-shadow:0 0 3px #555}#tiptip_arrow,#tiptip_arrow_inner{position:absolute;border-color:transparent;border-style:solid;border-width:6px;height:0;width:0}#tiptip_holder.tip_top #tiptip_arrow{border-top-color:#fff;border-top-color:rgba(255,255,255,.35)}#tiptip_holder.tip_bottom #tiptip_arrow{border-bottom-color:#fff;border-bottom-color:rgba(255,255,255,.35)}#tiptip_holder.tip_right #tiptip_arrow{border-right-color:#fff;border-right-color:rgba(255,255,255,.35)}#tiptip_holder.tip_left #tiptip_arrow{border-left-color:#fff;border-left-color:rgba(255,255,255,.35)}#tiptip_holder.tip_top #tiptip_arrow_inner{margin-top:-7px;margin-left:-6px;border-top-color:#191919;border-top-color:rgba(25,25,25,.92)}#tiptip_holder.tip_bottom #tiptip_arrow_inner{margin-top:-5px;margin-left:-6px;border-bottom-color:#191919;border-bottom-color:rgba(25,25,25,.92)}#tiptip_holder.tip_right #tiptip_arrow_inner{margin-top:-6px;margin-left:-5px;border-right-color:#191919;border-right-color:rgba(25,25,25,.92)}#tiptip_holder.tip_left #tiptip_arrow_inner{margin-top:-6px;margin-left:-7px;border-left-color:#191919;border-left-color:rgba(25,25,25,.92)}@media screen and (-webkit-min-device-pixel-ratio:0){#tiptip_content{padding:4px 8px 5px;background-color:rgba(45,45,45,.88)}#tiptip_holder.tip_bottom #tiptip_arrow_inner{border-bottom-color:rgba(45,45,45,.88)}#tiptip_holder.tip_top #tiptip_arrow_inner{border-top-color:rgba(20,20,20,.92)}}



.GeneratedResponsiveMainMenu li:hover a {background-color:#fff !important;}
.hiddenMenu ul li a {    border-radius: 100px !important;}
