﻿

.Group01
{
    
}
.Group01 span
{
    display: block;width: 5px;height: 7px;
}

.Group01 .icon_1
{
background-position: 0px 0px;
}
.Group01 .icon_2
{
background-position: -5px 0px;
}

.Group01 .icon_3
{
background-position: -10px 0px;
}

.Group01 .icon_4
{
background-position: -15px 0px;
}

.Group01 .icon_5
{
background-position: -20px 0px;
}

.Group01 .icon_6
{
background-position: -25px 0px;
}

.Group01 .icon_7
{
background-position: -30px 0px;
}

.Group01 .icon_8
{
background-position: -35px 0px;
}

.Group01 .icon_9
{
background-position: -40px 0px;
}
.Group01 .icon_0
{
background-position: -45px 0px;
}


.Group02
{
    
}
.Group02 span
{
    display: block;width: 9px;height: 46px;    
}


.Group02 .icon_1
{
background-position: 0px 0px;
}
.Group02 .icon_2
{
background-position: -9px 0px;
}

.Group02 .icon_3
{
background-position: -18px 0px;
}

.Group02 .icon_4
{
background-position: -27px 0px;
}

.Group02 .icon_5
{
background-position: -36px 0px;
}

.Group02 .icon_6
{
background-position: -45px 0px;
}

.Group02 .icon_7
{
background-position: -53px 0px;
}

.Group02 .icon_8
{
background-position: -63px 0px;
}

.Group02 .icon_9
{
background-position: -72px 0px;
}
.Group02 .icon_0
{
background-position: -81px 0px;
}



.Group03
{
    
}
.Group03 span
{
    display: block;width: 9px;height: 13px;    
}


.Group03 .icon_1
{
background-position: 0px 0px;
}
.Group03 .icon_2
{
background-position: -9px 0px;
}

.Group03 .icon_3
{
background-position: -18px 0px;
}

.Group03 .icon_4
{
background-position: -27px 0px;
}

.Group03 .icon_5
{
background-position: -36px 0px;
}

.Group03 .icon_6
{
background-position: -45px 0px;
}

.Group03 .icon_7
{
background-position: -53px 0px;
}

.Group03 .icon_8
{
background-position: -63px 0px;
}

.Group03 .icon_9
{
background-position: -72px 0px;
}
.Group03 .icon_0
{
background-position: -81px 0px;
}



.Group04
{
}
.Group04 span
{
    display: block;
    width: 15px;
    height: 15px;
}
.Group04 .icon_1
{
    background-position: 0px 0px;
}
.Group04 .icon_2
{
    background-position: -15px 0px;
}
.Group04 .icon_3
{
    background-position: -30px 0px;
}
.Group04 .icon_4
{
    background-position: -45px 0px;
}
.Group04 .icon_5
{
    background-position: -60px 0px;
}
.Group04 .icon_6
{
    background-position: -75px 0px;
}
.Group04 .icon_7
{
    background-position: -90px 0px;
}
.Group04 .icon_8
{
    background-position: -105px 0px;
}
.Group04 .icon_9
{
    background-position: -120px 0px;
}
.Group04 .icon_0
{
    background-position: -135px 0px;
}



.Group05
{
}
.Group05 span
{
    display: block;
    width: 15px;
    height: 20px;
}
.Group05 .icon_1
{
    background-position: 0px 0px;
}
.Group05 .icon_2
{
    background-position: -15px 0px;
}
.Group05 .icon_3
{
    background-position: -30px 0px;
}
.Group05 .icon_4
{
    background-position: -45px 0px;
}
.Group05 .icon_5
{
    background-position: -60px 0px;
}
.Group05 .icon_6
{
    background-position: -75px 0px;
}
.Group05 .icon_7
{
    background-position: -90px 0px;
}
.Group05 .icon_8
{
    background-position: -105px 0px;
}
.Group05 .icon_9
{
    background-position: -120px 0px;
}
.Group05 .icon_0
{
    background-position: -135px 0px;
}



.Group06
{
}
.Group06 span
{
    display: block;
    width: 14px;
    height: 18px;
}
.Group06 .icon_1
{
    background-position: 0px 0px;
}
.Group06 .icon_2
{
    background-position: -14px 0px;
}
.Group06 .icon_3
{
    background-position: -28px 0px;
}
.Group06 .icon_4
{
    background-position: -42px 0px;
}
.Group06 .icon_5
{
    background-position: -56px 0px;
}
.Group06 .icon_6
{
    background-position: -70px 0px;
}
.Group06 .icon_7
{
    background-position: -84px 0px;
}
.Group06 .icon_8
{
    background-position: -98px 0px;
}
.Group06 .icon_9
{
    background-position: -112px 0px;
}
.Group06 .icon_0
{
    background-position: -126px 0px;
}
